<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}

    {% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/user.css'%}">
    <script src="https://cdn.bootcss.com/limonte-sweetalert2/8.11.8/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/limonte-sweetalert2/8.11.8/sweetalert2.min.css">

    {% block css %}
    {% endblock %}
</head>
<body>

<div id="home">
        {% csrf_token %}
        {% block main %}

        {% endblock %}
</div>

    <script src="{% static 'js/jquery3.2.1.js' %}"></script>
    <script src="{% static 'js/user.js' %}"></script>

{% block js %}
{% endblock %}
<span id="app-data" style="display: none" data-url="{{ url }}"></span>

</body>
</html>