{% extends 'user/base.html' %}

{% block right %}
<div class="right right-login">

        <div id="userInfo">Blog Reset Password</div>
        <div id="msg">
                {% csrf_token %}
                <div class="input-line">
                    <p>邮箱</p>
                    <div class="control-line">
                        <input type="email" name="email" placeholder="邮箱">
                        <span></span>
                    </div>

                </div>

                <div class="input-line">
                    <input id="btn-forgetpwd" type="button" name="submit" value="确认">
                    <a href="{% url 'user:login' %}">回主页</a>
                </div>


{#            </form>#}
        </div>

    </div>
{% endblock %}