{% extends 'user/base.html' %}

{% block title %}
    登陆
{% endblock %}

{% block main %}
    {% load static %}
    <div align="center">
    <img id="login-logo" src="{% static '/img/login-logo.png' %}" alt="">
    </div>
    <div id="form" class="clearfix">
        <div class="input-line username">
            {{ form.username }}<span></span>
        </div>
        <div class="input-line password">
            {{ form.password }}<span></span>
        </div>
        <div>

        </div>
        <div class="input-line button">
            <input type="button" value="登陆"><span></span>
        </div>

        <div class="input-line">
            <div class="clearfix cookies">
                <a href="{% url 'user:update' %}">忘记密码？</a>
                <a href="{% url 'user:regist' %}">注册</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% load static %}
    <script href="{% static 'js/user.js' %}"></script>

{% endblock %}