{% extends 'user/base.html' %}
{% load static %}

{% block title %}
    Monkey Blog Regist
{% endblock %}


{% block right %}


<div class="right right-regist">

        <div id="userInfo">Blog Regist<span id="btn-go-login">登陆</span></div>

        <div id="msg">
                {% csrf_token %}
                <div class="input-line">
                    <p>用户名</p>
                    <div class="control-line">
                        <input type="text" name="username" placeholder="用户名">
                        <span></span>
                    </div>

                </div>

                <div class="input-line">
                    <p>密码</p>
                    <div class="control-line">
                        <input type="password" name="password" placeholder="6-20位密码">
                        <span></span>
                    </div>

                </div>

                <div class="input-line">
                    <p>重复密码</p>
                    <div class="control-line">
                        <input type="password" name="repassword" placeholder="重复输入密码">
                        <span></span>
                    </div>

                </div>

                <div class="input-line">
                    <p>邮箱</p>
                    <div class="control-line">
                        <input type="email" name="email" placeholder="someone@xx.com">
                        <span></span>
                    </div>

                </div>

                <div class="input-line">
                    <p>手机号</p>
                    <div class="control-line">
                        <input type="text" name="phone" placeholder="手机号">
                        <span></span>
                    </div>

                </div>

                <div class="input-line">
                    <p>昵称</p>
                    <div class="control-line">
                        <input type="text" name="nickname" placeholder="昵称">
                        <span></span>
                    </div>

                </div>
                


                <div class="input-line">

                    <p>头像</p>
                    <div id="avatar" class="clearfix">
                        <label for="id_avatar">
                            <input id="id_avatar" type="file" name="avatar">
                            <span></span>
                        <img  src="{% static '/img/default.jpeg' %}" alt="">
                        </label>
                    </div>
                </div>

                <div class="input-line input-line-regist">
                    <p></p>
                    <input id="btn-regist" type="button" value="注册" name="submit">
                </div>

        </div>
        </div>
{% endblock %}

{% block js %}
{% endblock %}