{% extends 'user/base.html' %}

{% block title %}
    注册
{% endblock %}

{% block main %}
    <div id="left">
    
    <div id="container-img">
        {% load static %}
        <img src="{% static '/img/logo.png' %}" alt="">
    </div>

    </div>

    <div id="right" class="clearfix">
        <div class="input-line username">
            {{ form.username }}<span></span>
        </div>

        <div class="input-line password">
            {{ form.password }}<span></span>
        </div>

        <div class="input-line repassword">
            {{ form.repassword }}<span></span>
        </div>

        <div class="input-line email">
            {{ form.email }}<span></span>
        </div>

        <div class="input-line phone">
            {{ form.phone }}<span></span>
        </div>

        <div class="input-line nickname">
            {{ form.nickname }}<span></span>
        </div>

        <div class="input-line">
            <label for="id_avatar">
            <img src="{% static 'img/default.jpeg' %}" alt="文件损坏" title="点击上传头像">
            {{ form.avatar }} <span></span></label>
            <br><small><b>上传头像</b></small>
        </div>




    <div class="input-line">
        <div class="clearfix cookies">
            <a href="{% url 'user:login' %}">登陆</a>
        </div>
    </div>

    <div class="input-line button">
        <input type="button" value="注册"><span></span>
    </div>
</div>

{% endblock %}