{% extends 'user/base.html' %}

{% block title %}
    重置密码
{% endblock %}

{% block main %}
    <div id="left">

        {% if status %}
            <div id="container-img">
                {% load static %}
                <img src="{% static '/img/logo.png' %}" alt="">
            </div></div>

            <div id="right" class="clearfix">
                <div class="input-line">
                    {{ form.email }}<span></span>
                </div>

                <div class="input-line">
                    {{ form.new_password }}<span></span>
                </div>

                <div class="input-line">
                    {{ form.new_re_password }}<span></span>
                </div>

                <div class="input-line">
                    <div class="clearfix cookies">
                        <a href="{% url 'user:login' %}">登陆</a>
                    </div>
                </div>

                <div class="input-line button">
                    <input type="button" value="{{ key }}"><span></span>
                </div>
            </div>

        {% else %}
            <div id="update-error">链接已失效！可直接登陆来重新发送该链接！<a href="{% url 'user:login' %}">Go login</a></div>

        {% endif %}




{% endblock %}