{% extends 'blog/base.html' %}

{% block title %}
    {% if tag %}
        标签页:{{ tag.name }}
    {% elif category %}
        分类页:{{ category.0.name }}
    {% endif %}
    {{ user.username }}
{% endblock %}


{% block nav-title %}
    {% if user.username %}
        <p><a href="#"></a>{{ user.username }}</p>
        {% else %}
        <p><a href="{% url 'user:regist' %}">{{ user.username | default:"匿名用户"}}</a></p>
    {% endif %}
{% endblock %}

{% block main-page %}

<!-- 文章列表 -->

    {% for article in article_list %}

            <div class="article">
            <p class="article-title">{{ article.title }}</p>
            <div class="article-summary">摘要:{{ article.desc | truncatechars:80 }}
            <span class="article-content"><a href="{% url 'blog:article_detail' article.id %}">阅读全文</a></span>
            </div>
            <div class="cookies">
                <span>Posted data:{{ article.created_time }}</span>
                <i></i>
                <span><a href=""></a>Author:{{ article.owner }}</span>
                <i></i>
                <span>Comment:{{ article.comment_set.count }}</span>
            </div>
        </div>
    {% endfor %}

    <!-- 分页逻辑 -->
    {% if page_obj %}
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">上一页</a>
        {% endif %}

        Page {{ page_obj.number }} of {{ paginator.num_pages }}.

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">下一页</a>
        {% endif %}
    {% endif %}

{% endblock %}
