{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}
        首页
    {% endblock %}:MonkeyBlog</title>
</head>
<body>

<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'toastr/toastr.min.css'%}">
<link rel="stylesheet" href="{% static 'css/navbar/reset.min.css'%}">
<link rel="stylesheet" href="{% static 'css/navbar/style.css'%}">
<script src="{% static 'js/jquery3.2.1.js' %}"></script>
{% block css %}

{% endblock %}
<!-- 页面主体开始 -->
<div id="container">
    <!-- 顶部导航开始 -->
    <div id="navbar" class="clearfix">

        <ul class="hList">
	<li>
		<a href="#click" class="menu">
			<h2 class="menu-title">用户:{{ user.username | truncatechars:9}}</h2>
			<ul class="menu-dropdown">
				<li id="li-logout">注销登陆</li>
				<li id="li-resetpwd">修改密码</li>
				<li>个人主页</li>
				<li>个人中心</li>
			</ul>
		</a>
	</li>
	<li>
		<a href="#click" class="menu">
			<h2 class="menu-title menu-title_2nd">文章分类</h2>
			<ul class="menu-dropdown">
				<li>Kevin</li>
				<li>Jim</li>
				<li>Andy</li>
			</ul>
		</a>
	</li>
	<li>
		<a href="#click" class="menu">
		<h2 class="menu-title menu-title_3rd">things</h2>
		<ul class="menu-dropdown">
			<li>bench</li>
			<li>pizza</li>
			<li>Honda CB125</li>
			<li>space</li>
			<li>black matter</li>
			<li>apple</li>
			<li>philodendron</li>
			<li>liver</li>
			<li>brass</li>
		</ul>
		</a>
	</li>
	<li>
		<a href="#" class="menu">
			<h2 class="menu-title menu-title_4th">UNtitle</h2>
			<ul class="menu-dropdown">
				<li id="li-logout"></li>
				<li>修改密码</li>
				<li>个人主页</li>
				<li>个人中心</li>
			</ul>
		</a>
	</li>
</ul>

    </div>
    <!-- 顶部导航结束 -->

    <!-- 页面导航导航开始 -->
    <div id="nav">
        <div class="nav-title">
        {% block nav-title %}
            User:Someone
        {% endblock %}
        </div>
        <div class="nav-body">
        <ul>
             {% for nav in navs %}
                            <li>
                                <a href="{% url 'blog:category_list' nav.id %}">{{ nav.name }}</a>
                            </li>
             {% endfor %}
        </ul>


        </div>
    </div>
    <!-- 页面导航结束 -->

    <!-- 左侧边栏开始 -->
    <div id="left">
        <div class="content">
            {% for sidebar in sidebars %}
                <h4>{{ sidebar.title }}</h4>
                {{ sidebar.content_html }}

            {% endfor %}

        </div>
    </div>
    <!-- 左侧边栏结束 -->
    <!-- 中间开始 -->
    <div id="center">
        {% block main-page %}

        {% endblock %}
    </div>
    <!-- 中部结束 -->
    <!-- 右侧开始-->
    <div id="right"></div>
    <!-- 右侧结束-->

    <!-- 底部声明信息开始-->
    <div id="bottom">
        <div class="bottom-content">
            {% for cate in categories %}
                <a href="{% url 'blog:category_list' cate.id %}">{{ cate.name }}</a>
            {% endfor %}

        </div>
    </div>
    <!-- 声明结束 -->

{% block js %}
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'toastr/toastr.min.js' %}"></script>
    <script type="text/javascript">
        toastr.options.positionClass = 'toast-top-right';
    </script>


{% endblock %}

</div>

</body>
</html>