{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}
        首页
    {% endblock %}:MonkeyBlog</title>
</head>
<body>

<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'toastr/toastr.min.css'%}">
<link rel="stylesheet" href="{% static 'css/navbar/reset.min.css'%}">
<link rel="stylesheet" href="{% static 'css/navbar/style.css'%}">
<link rel="stylesheet" href="{% static 'css/theme/default.css'%}">
<script src="{% static 'js/jquery3.2.1.js' %}"></script>
{% block css %}

{% endblock %}
<!-- 页面主体开始 -->
<div id="container" class="clearfix">
    <!-- 顶部导航开始 -->
    <div id="navbar" class="clearfix">

        <ul class="hList">
	<li>
		<a href="#click" class="menu">
			<h2 class="menu-title">用户:{{ user.username | truncatechars:9}}</h2>
			<ul class="menu-dropdown">
				<li id="li-logout">注销登陆</li>
				<li id="li-resetpwd">修改密码</li>
				<li>个人主页</li>
				<li>个人中心</li>
			</ul>
		</a>
	</li>
	<li>
		<a href="#click" class="menu">
			<h2 class="menu-title menu-title_2nd">文章分类</h2>
			<ul class="menu-dropdown">
                {% for nav in navs %}
                    <li>
                        {{ nav.name }}
                    </li>
                    {% empty %}
                    <li>没有分类</li>
                {% endfor %}
			</ul>
		</a>
	</li>
	<li>
		<a href="#click" class="menu">
		<h2 class="menu-title menu-title_3rd">标签分类</h2>
		<ul class="menu-dropdown">

        {% for cate in categories %}
                    <li>{{ cate.name }}</li>
            {% empty %}
            <li>没有标签</li>
                {% endfor %}

		</ul>
		</a>
	</li>
	<li>
		<a href="#" class="menu">
			<h2 class="menu-title menu-title_4th">收藏夹</h2>
			<ul class="menu-dropdown">
				<li id="li-logout"></li>
				<li>待完成</li>
				<li>待完成</li>
				<li>待完成</li>
			</ul>
		</a>
	</li>
</ul>

    </div>
    <!-- 顶部导航结束 -->

    <!-- 页面导航导航开始 -->
    <div id="nav">
        <div id="nav-title">
        {% block nav-title %}
            <p>{{ user.username }}</p>
        {% endblock %}
        </div>
        <div id="nav-body" class="clearfix">

                <ul class="clearfix">
                    <li><a href="">新建文章</a></li>
                    <li><a href="">首页</a></li>
                    <li><a href="/user_admin">管理</a></li>
                </ul>

                <div id="blog-status">
                    <span>文章-100</span>
                    <span>分类-7</span>
                    <span>评论-100</span>
                </div>

            </div>
        </div>

    <!-- 页面导航结束 -->

    <!-- 左侧边栏开始 -->
    <div id="left" class="clearfix">
        <div class="content">

            {% block main-page %}

            {% endblock %}
{#        <div class="article">#}
{#            <p class="article-title">Linux / MacOS Redis settings</p>#}
{#            <div class="article-summary">摘要：下载 下载redis压缩包 最新的为 5.0.4 地址 http://download.redis.io/releases/redis-5.0.4.tar.gz 安装 1 解压 切换工作目录到redis文件所在目录然后解压文件 切换 默认的下载目录 cd ~/Downloads 解压文件 tar#}
{#            <span class="article-content">阅读全文</span>#}
{#            </div>#}
{#            <div class="cookies">#}
{#                <span>Posted data:2019-12-12 20:22</span>#}
{#                <i></i>#}
{#                <span>Author:Monkey</span>#}
{#                <i></i>#}
{#                <span>Read:100</span>#}
{#                <i></i>#}
{#                <span>Comment:20</span>#}
{#            </div>#}
{#        </div>#}

{#                <div class="article">#}
{#            <p class="article-title">Linux / MacOS Redis settings</p>#}
{#            <div class="article-summary">摘要：下载 下载redis压缩包 最新的为 5.0.4 地址 http://download.redis.io/releases/redis-5.0.4.tar.gz 安装 1 解压 切换工作目录到redis文件所在目录然后解压文件 切换 默认的下载目录 cd ~/Downloads 解压文件 tar#}
{#            <span class="article-content">阅读全文</span>#}
{#            </div>#}
{#            <div class="cookies">#}
{#                <span>Posted data:2019-12-12 20:22</span>#}
{#                <i></i>#}
{#                <span>Author:Monkey</span>#}
{#                <i></i>#}
{#                <span>Read:100</span>#}
{#                <i></i>#}
{#                <span>Comment:20</span>#}
{#            </div>#}
{#        </div>#}
{#                <div class="article">#}
{#            <p class="article-title">Linux / MacOS Redis settings</p>#}
{#            <div class="article-summary">摘要：下载 下载redis压缩包 最新的为 5.0.4 地址 http://download.redis.io/releases/redis-5.0.4.tar.gz 安装 1 解压 切换工作目录到redis文件所在目录然后解压文件 切换 默认的下载目录 cd ~/Downloads 解压文件 tar#}
{#            <span class="article-content">阅读全文</span>#}
{#            </div>#}
{#            <div class="cookies">#}
{#                <span>Posted data:2019-12-12 20:22</span>#}
{#                <i></i>#}
{#                <span>Author:Monkey</span>#}
{#                <i></i>#}
{#                <span>Read:100</span>#}
{#                <i></i>#}
{#                <span>Comment:20</span>#}
{#            </div>#}
{#        </div>#}
{#                <div class="article">#}
{#            <p class="article-title">Linux / MacOS Redis settings</p>#}
{#            <div class="article-summary">摘要：下载 下载redis压缩包 最新的为 5.0.4 地址 http://download.redis.io/releases/redis-5.0.4.tar.gz 安装 1 解压 切换工作目录到redis文件所在目录然后解压文件 切换 默认的下载目录 cd ~/Downloads 解压文件 tar#}
{#            <span class="article-content">阅读全文</span>#}
{#            </div>#}
{##}
{#            <div class="cookies">#}
{#                <span>Posted data:2019-12-12 20:22</span>#}
{#                <i></i>#}
{#                <span>Author:Monkey</span>#}
{#                <i></i>#}
{#                <span>Read:100</span>#}
{#                <i></i>#}
{#                <span>Comment:20</span>#}
{#            </div>#}
{#        </div>#}
{#                <div class="article">#}
{#            <p class="article-title">Linux / MacOS Redis settings</p>#}
{#            <div class="article-summary">摘要：下载 下载redis压缩包 最新的为 5.0.4 地址 http://download.redis.io/releases/redis-5.0.4.tar.gz 安装 1 解压 切换工作目录到redis文件所在目录然后解压文件 切换 默认的下载目录 cd ~/Downloads 解压文件 tar#}
{#            <span class="article-content">阅读全文</span>#}
{#            </div>#}
{#            <div class="cookies">#}
{#                <span>Posted data:2019-12-12 20:22</span>#}
{#                <i></i>#}
{#                <span>Author:Monkey</span>#}
{#                <i></i>#}
{#                <span>Read:100</span>#}
{#                <i></i>#}
{#                <span>Comment:20</span>#}
{#            </div>#}
{#        </div>#}
{#                <div class="article">#}
{#            <p class="article-title">Linux / MacOS Redis settings</p>#}
{#            <div class="article-summary">摘要：下载 下载redis压缩包 最新的为 5.0.4 地址 http://download.redis.io/releases/redis-5.0.4.tar.gz 安装 1 解压 切换工作目录到redis文件所在目录然后解压文件 切换 默认的下载目录 cd ~/Downloads 解压文件 tar#}
{#            <span class="article-content">阅读全文</span>#}
{#            </div>#}
{#            <div class="cookies">#}
{#                <span>Posted data:2019-12-12 20:22</span>#}
{#                <i></i>#}
{#                <span>Author:Monkey</span>#}
{#                <i></i>#}
{#                <span>Read:100</span>#}
{#                <i></i>#}
{#                <span>Comment:20</span>#}
{#            </div>#}
{#        </div>#}
{#                <div class="article">#}
{#            <p class="article-title">Linux / MacOS Redis settings</p>#}
{#            <div class="article-summary">摘要：下载 下载redis压缩包 最新的为 5.0.4 地址 http://download.redis.io/releases/redis-5.0.4.tar.gz 安装 1 解压 切换工作目录到redis文件所在目录然后解压文件 切换 默认的下载目录 cd ~/Downloads 解压文件 tar#}
{#            <span class="article-content">阅读全文</span>#}
{#            </div>#}
{#            <div class="cookies">#}
{#                <span>Posted data:2019-12-12 20:22</span>#}
{#                <i></i>#}
{#                <span>Author:Monkey</span>#}
{#                <i></i>#}
{#                <span>Read:100</span>#}
{#                <i></i>#}
{#                <span>Comment:20</span>#}
{#            </div>#}
{#        </div>#}




        </div>
    </div>
    <!-- 左侧边栏结束 -->

    <!-- 右侧开始-->
    <div id="right" class="clearfix">
        <div class="data">
            <p>jsjsdnfkjkd</p><br>
            <p>jsjsdnfkjkd</p><br>
            <p>jsjsdnfkjkd</p><br>
            <p>jsjsdnfkjkd</p><br>
            <p>jsjsdnfkjkd</p><br>
            <p>jsjsdnfkjkd</p><br>
            <p>jsjsdnfkjkd</p><br>
            <p>jsjsdnfkjkd</p><br>
            <p>jsjsdnfkjkd</p><br>
            <p>jsjsdnfkjkd</p><br>
            <p>jsjsdnfkjkd</p><br>
        </div>

        {#            {% for sidebar in sidebars %}#}
{#                <h4>{{ sidebar.title }}</h4>#}
{#                {{ sidebar.content_html }}#}
{##}
{#            {% endfor %}#}
{##}
{#        {% for cate in categories %}#}
{#                    <a href="{% url 'blog:category_list' cate.id %}">{{ cate.name }}</a>#}
{#                {% endfor %}#}

    </div>
    <!-- 右侧结束-->




    <!-- 底部声明信息开始-->
    <div id="bottom">
        <div class="bottom-content">


            <div class="text">
            Copyright&copy; 2019-10-01 by Author:Monkey All Rights Reserved
        </div>

        </div>
    </div>
    <!-- 声明结束 -->
</div>
{% block js %}
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'toastr/toastr.min.js' %}"></script>
    <script type="text/javascript">
        toastr.options.positionClass = 'toast-top-right';
    </script>


{% endblock %}


</body>
</html>