/*   top    */

#top {
    background: rgba(6, 3, 238, 0.1);
    height: 84px;
    padding: 0.1px;
}

#top .title span{
    font-size: 64px;
    margin:10px 0;
    transition: margin-left .8s;
}

#top .title span:hover{
    margin-left: 100px;
}



/* left */

#left {
    float:left;
    margin: 40px 40px 20px 10px;
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-radius: 300px;
}

#left>img{
    width:500px;
    height: 500px;
    transition: all 600ms;
}

#left>img:hover{
    transform: scale(1.2);
}

/* right */
.right{
    float: left;
    padding-left: 5%;
    border-left: 1px solid deepskyblue;

}

.right-login{
    margin: 110px auto;
}

#userInfo{
    font-size: 36px;
    color: deepskyblue;
    width: 200px;
    margin: 20px;
    text-align: center;
}

.input-line{
    height: 60px;
}

.input-line *{
    float: left;

}

input{
    margin-top: 12px;
    padding-left: 8px;
}

.input-line p{
    margin-top: 18px;
    width: 70px;
    color: deepskyblue;
    font-size: 16px;
    text-align: left;

}

.control-line>span{
    display: block;
    margin-top: 16px;
    margin-left: 4px;
    color: red;
}

.control-line>input{
    width: 200px;
    height: 24px;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid deepskyblue;

}

input[type="checkbox"]{
    width: 16px;
    height: 16px;
    margin-top: 21px;
    vertical-align: bottom;
}

.c{
    margin-left: 48px;
}

p>a{
    text-decoration: none;
    color: rgb(155, 152, 155);
}

.input-line>a,input[name='submit']{
    width: 120px;
    height: 30px;
    border: 2px solid deepskyblue;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    margin-left: 10px;
    color: #FFF;
}

.input-line>a{
    float: left;
    text-decoration: none;
    margin-top: 11px;
    background-color: deepskyblue;
    height: 27px;
    text-align: center;
}

input[name='submit']{
    color: deepskyblue;
}

input[name='submit']:hover{
    color: #fff1fa;
    background-color: deepskyblue;
    /*cursor:hand;*/
    cursor: pointer;
}

.input-line>a:hover{
    background-color: #fff;
    color: deepskyblue;
}



/* bottom */
#bottom {
    position: fixed;
    bottom:25px;
    left: 0;
    right: 0;
}

#bottom .text{
    text-align: center;
}

/* regist */

.right-regist{
    margin: 40px auto;
}


#avatar{
    margin: auto 4px;
}

#avatar img{
    height: 64px;
}


.input-line-regist{
    margin: 0;
}
.input-line-regist p{
    clear: both;
}
#btn-regist{
    width: 280px;
    margin: 10px 0;
}

.right-regist .input-line input{
    width: 280px;
}

#avatar input{
    display: none;
}

.has-error{
    color: red;
    background: rgba(200,0,0,0.2);
}