{% extends 'blog/base.html' %}

{% block css %}
    <link rel="stylesheet" href="https://cdn.bootcss.com/highlight.js/9.12.0/styles/googlecode.min.css">
    <script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block nav-title %}
    {{ article.title }}
{% endblock %}

{% block main-page %}
    <div id="detail">
        {% if article %}
            <p class="detail-title">{{ article.title }}
            </p>

            <div class="detail-cookies">
                {% if article.nv %}
                    <span id="repr">原创</span>
                {% else %}
                    <span id="copy"><a href="{{ article.nv }}">转载</a></span>
                {% endif %}
                <span><i class="fa fa-tags"></i>{{ article.category.name }}</span>
                <span><i class="fa fa-user-secret"></i>{{ article.owner.username }}</span>
                <span>阅览量:{{ article.pv|default:"1000+" }}</span>
                <span>发布于 <i class="fa fa-clock-o"></i>{{ article.created_time|date:'Y-m-d H:m:s' }}</span>
                <span id="start"><i class="fa fa-star fa-spin"></i>收藏</span>

            </div>
            <div class="detail-content">
                {{ article.content_html|safe }}
            </div>

            <div id="thumb" class="clearfix">
                <p>
                    <span class="up"><i class="fa fa-thumbs-up"></i>赞{{ article.nv }}</span>
                    <i></i>
                    <span class="down"><i class="fa fa-thumbs-down"></i>踩{{ article.pv }}</span>
                </p>
            </div>

        {% endif %}
    </div>
    <hr>

    <div id="comment">
        <div id="add-comment">
            <p class="add-comment-head clearfix">
                <em> 评论一下吧！</em>
                <span id="plus-button"><i class="fa fa-pencil"></i>写评论</span>
            </p>

            <div id="comment-body">
                <textarea name="comment" id="add-comment-content" rows="2" placeholder="新增评论"></textarea>
                <p class="add-comment-cookies clearfix">
                    <span class="submit-comment"><i class="fa fa-paper-plane"></i>提交</span>
                    <span class="cancel-comment"><i class="fa fa-ban"></i>取消</span>
                </p>
            </div>
    </div>

    <div id="list-comment">
        {% for comment in comments %}
        <div class="comment-line">
            <div class="comment-body clearfix">
                <img src="{{ comment.owner.avatar.url }}">
                <p>{{ comment.content | truncatechars:200 }}</p>
            </div>

            <p class="comment-cookies">
                <span class="list-comment-nickname">{{ comment.nickname }}</span>
                <span><i class="fa fa-clock-o"></i> {{ comment.created_time }}</span>
                <span class="up"><i class="fa fa-thumbs-up"></i> 赞{{ comment.nv }}</span>
                <span class="down"><i class="fa fa-thumbs-down"></i> 踩{{ comment.pv }}</span>
            </p>
        </div>
        {% endfor %}

    </div>
    {% csrf_token %}
    <span id="extend-data" data-target_id="{{ article.id }}" data-url="{% url 'comment:comment' %}" data-user="{{ user.name }}" data-avatar="{{ user.avatar.url }}" data-nickname="{{ user.nickname }}"></span>
    </div>
{% endblock %}
{% load static %}
{% block js %}
    <script src="{% static 'js/detial.js' %}"></script>
{% endblock %}