{% extends 'blog/index.html' %}

{% block title %}
    {{ page_title | default:'列表页' }}
{% endblock %}


{% block sidebar %}
    {% if visited_user %}
        <div id="user-info" class="bar-block">
            <p class="bar-title"><i class="fa fa-book fa-fw"></i>博主信息</p>
            <a href="{% url 'blog:home' visited_user.id %}">
                <img id="avatar" src="{{ visited_user.avatar.url }}" alt="头像" title="头像"></a>
            <p><i class="fa fa-user-circle-o"></i>昵称: <span>{{ visited_user.nickname }}</span></p>
            <p><i class="fa fa-hourglass"></i>入坑: <span>{{ visited_user.date_joined | date:'Y-m-d' }}</span></p>
            <p id="signature"><i class="fa fa-pencil-square"></i>签名: <span>{{ visited_user.signature }}</span></p>
            <p id="profile"><i class="fa fa-info-circle"></i>自述: <span>{{ visited_user.profile }}</span></p>
        </div>
    {% endif %}

    <!-- sidebar category -->
    <div id="category" class="bar-block">
        <p class="bar-title"><i class="fa fa-tags fa-fw"></i>分类</p>
        <ul>
            {% for category in category_list %}
                <li>
                    <a href="{% url 'blog:category_list' category.id %}">{{ category.name }}({{ category.post_set.count }})</a>
                </li>
            {% empty %}
                <li>哎呀！还没有分类！</li>
            {% endfor %}
        </ul>
    </div>

    <!-- sidebar tag-->
    <div id="tag" class="bar-block">
        <p class="bar-title"><i class="fa fa-tags fa-fw"></i>标签</p>
        <ul>
            {% for tag in tag_list %}
                <li>
                    <a href="{% url 'blog:tag_list' tag.id %}">{{ tag.name }}({{ tag.post_set.count }})</a>
                </li>
            {% empty %}
                <li>哎呀！还没有标签！</li>
            {% endfor %}
        </ul>
    </div>

    <!-- links -->
    <div id="links" class="bar-block">
        <p class="bar-title"><i class="fa fa-tags fa-fw"></i>友链</p>
        <ul>
            {% for link in link_list %}
                <li>
                    <a href="{{ link.href }}">{{ link.title }}</a>
                </li>
            {% empty %}
                <li>还没有添加友链！<br>
            {% endfor %}
        </ul>
    </div>

    <div id="favorites" class="bar-block">
        <p class="bar-title"><i class="fa fa-tags fa-fw"></i>收藏</p>
        <ul>
            {% for favorite in favorite_list %}
                <li>
                    <a href="{{ link.href }}">{{ favorite.title }}</a>
                </li>
            {% empty %}
                <li>还没有任何收藏！<br>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
