{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}
    {% endblock %}MonkeyBlog</title>
</head>

<body>
<script src="https://cdn.bootcss.com/limonte-sweetalert2/8.11.8/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/limonte-sweetalert2/8.11.8/sweetalert2.min.css">

<link rel="stylesheet" href="{% static 'css/reset.min.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome/css/font-awesome.css' %}">
<link rel="stylesheet" href="{% static 'toastr/toastr.min.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/default.css' %}">
<script src="{% static 'js/jquery3.2.1.js' %}"></script>
{% block css %}

{% endblock %}
<!-- 页面主体开始 -->
<div id="container" class="clearfix">
    <!-- 顶部导航开始 -->
    <div id="navbar" class="clearfix">

        <ul class="hList">
            <li>
                <a href="#click" class="menu">
                    {% if user.username %}
                        <p class="menu-title"><i class="fa fa-user-circle"></i> {{ user.username | truncatechars:9 }}</p>
                        <ul class="menu-dropdown">
                            <li id="li-logout"><i class="fa fa-power-off"></i> 注销登陆</li>
                            <li id="li-resetpwd"><i class="fa fa-pencil-square-o"></i> 修改密码</li>
                            <li onclick="location.href='{% url 'blog:home' user.id %}'"><i class="fa fa-home"></i> 个人主页</li>
                            <li><i class="fa fa-street-view"></i> 个人中心</li>
                        </ul>
                    {% else %}
                        <p class="menu-title"><i class="fa fa-user-circle"></i> [登陆了|注册]</p>
                        <ul class="menu-dropdown">
                            <li id="li-login" onclick="location.href='{% url 'user:login' %}'"><i class="fa fa-paper-plane"></i> 登陆</li>
                            <li id="li-regist" onclick="location.href='{% url 'user:regist' %}'"><i class="fa fa-registered"></i> 注册</li>
                        </ul>

                    {% endif %}

                </a>
            </li>
            <li>
                <a href="#click" class="menu">
                    <p class="menu-title menu-title_2nd"><i class="fa fa-server"></i> 文章分类</p>
                    <ul class="menu-dropdown">
                        {% for category in categories %}
                            <li>
                                <i class="fa fa-map-o fa-fw"></i> {{ category.name }}
                            </li>
                        {% empty %}
                            <li>没有分类</li>
                        {% endfor %}
                    </ul>
                </a>
            </li>
            <li>
                <a href="#click" class="menu">
                    <p class="menu-title menu-title_3rd"><i class="fa fa-tags"></i> 标签分类</p>
                    <ul class="menu-dropdown">

                        {% for tag in tags %}
                            <li><i class="fa fa-tag"></i> {{ tag.name }}</li>
                        {% empty %}
                            <li>没有标签</li>
                        {% endfor %}

                    </ul>
                </a>
            </li>
            <li>
                <a href="#" class="menu">
                    <p class="menu-title menu-title_4th"><i class="fa fa-folder-open"></i> 收藏夹</p>
                    <ul class="menu-dropdown">
                        <li id="li-logout"></li>
                        <li>待完成</li>
                        <li>待完成</li>
                        <li>待完成</li>
                    </ul>
                </a>
            </li>
        </ul>

    </div>
    <!-- 顶部导航结束 -->

    <!-- 页面导航导航开始 -->
    <div id="nav">
        <div id="nav-title" class="clearfix">
            <p>
                <a href="{% url 'blog:home' user.id %}"></a>{{ visited_user.nickname|default:"Monkey'Blog首页" }}
            </p>
            <form action="{% url 'blog:search' %}" method="get">

                <input name="keyword" type="text" placeholder="Search Keyword!" value="{{ keyword }}">
                <span id="search-logo">
                    <i class="fa fa-search"></i>
                </span>
                <button type="submit">Search</button>

            </form>

        </div>
        <div id="nav-body" class="clearfix">

            <ul class="clearfix">
                <li><a href=""><i class="fa fa-plus"></i> 新建文章</a></li>
                <li><a href="{% url 'index' %}"><i class="fa fa-home"></i> 首页</a></li>
                <li><a href=" {% if user.username %}
                    {% url 'blog:home' user.id %}
                    {% else %}
                    {% url 'user:login' %}
                {% endif %}"><i class="fa fa-paper-plane-o"></i> 个人主页</a></li>
                <li><a href="/admin/"><i class="fa fa-cog fa-spin"></i> 管理</a></li>
            </ul>

            <div id="blog-status">
                {% if visited_user %}
                    <span>文章-{{ visited_user.post_set.count }}</span>
                {% else %}
                    <span>文章-{{ visited_user.post_set.count | default:"N+" }}</span>
                {% endif %}
                <span>分类-{{ categories|length }}</span>
                <span>标签-{{ tags|length }}</span>
            </div>

        </div>
    </div>

    <!-- 页面导航结束 -->
{% if visited_user %}
    {{ visited_user.username }}<i class="fa fa-play"></i>
    {% else %}
    <span>Monkey'Blog 首页</span>
    {% endif %}
{% if category %}
    <span>{{ category.name }}<i class="fa fa-play"></i></span>
{% endif %}
    {% if article.category.name %}
        <span>{{ article.category.name }}<i class="fa fa-play"></i></span>
        {% if article.title %}
            <span>{{ article.title }}<i class="fa fa-play"></i></span>
            {% endif %}

    {% endif %}

    <!-- 页面左右分栏容器开始 -->
    <div id="main" class="clearfix">
        <!-- 左侧边栏开始 -->
        <div id="left" class="clearfix">
            {% block main-page %}

            {% endblock %}
        </div>
    <div>
    </div>

        <!-- 左侧边栏结束 -->

        <!-- 右侧开始-->
        <div id="right" class="clearfix">

            {% if visited_user %}
                <div id="user-info" class="bar-block">
                    <p class="bar-title"><i class="fa fa-book fa-fw"></i>博主信息</p>
                    <img id="avatar" src="{{ visited_user.avatar.url }}" alt="头像" title="头像">
                    <p><i class="fa fa-user-circle-o"></i>昵称: <span>{{ visited_user.nickname }}</span></p>
                    <p><i class="fa fa-hourglass"></i>入坑: <span>{{ visited_user.date_joined | date:'Y-m-d' }}</span></p>
                    <p id="signature"><i class="fa fa-pencil-square"></i>签名: <span>{{ visited_user.signature }}</span></p>
                    <p id="profile"><i class="fa fa-info-circle"></i>自述: <span>{{ visited_user.profile }}</span></p>
                </div>
            {% endif %}

            <!-- sidebar category -->
            <div id="category" class="bar-block">
                <p class="bar-title"><i class="fa fa-map-o fa-fw"></i>分类</p>
                <ul>
                    {% for category in categories %}
                        <li>
                            <a href="{% url 'blog:category_list' category.id %}">{{ category.name }}({{ category.post_set.count }})</a>
                        </li>
                    {% empty %}
                        <li>哎呀！还没有分类！</li>
                    {% endfor %}
                </ul>
            </div>

            <!-- sidebar tag-->

            <div id="tag" class="bar-block">
                <p class="bar-title"><i class="fa fa-tags fa-fw"></i>标签</p>
                <ul>
                    {% for tag in tags %}
                        <li>
                            <a href="{% url 'blog:tag_list' tag.id %}">{{ tag.name }}({{ tag.post_set.count }})</a>
                        </li>
                    {% empty %}
                        <li>哎呀！还没有标签！</li>
                    {% endfor %}
                </ul>
            </div>

            <!-- sidebar article -->
            {% for sidebar in sidebars %}
                <div class="bar-block">
                    <p class="bar-title"><i class="fa fa-medium fa-fw"></i>{{ sidebar.title }}</p>

                    {{ sidebar.html }}
                </div>
            {% endfor %}


        </div>
        <!-- 右侧结束-->

    </div>
    <!-- 页面分栏结束 -->


    <!-- 底部声明信息开始-->
    <div id="bottom">
        <div class="bottom-content">


            <div class="text">
                Copyright&copy; 2019-10-01 by Author:Monkey All Rights Reserved
            </div>

        </div>
    </div>
    <!-- 声明结束 -->
</div>

<!-- 页面js -->
{% block js %}

{% endblock %}
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'toastr/toastr.min.js' %}"></script>
    <script type="text/javascript">
        toastr.options.positionClass = 'toast-top-right';
    </script>





</body>

</html>