{% extends 'user/base.html' %}

{% block title %}
    Monkey Blog Login
{% endblock %}


{% block right %}

    <div class="right right-login">

        <div id="userInfo">Blog Login</div>
        <div id="msg">
                {% csrf_token %}
                <div class="input-line clearfix">
                    <p>用户名</p>
                    <div class="control-line">
                        <input type="text" name="username" placeholder="用户名">
                        <span></span>
                    </div>

                </div>

                <div class="input-line clearfix">
                    <p>密码</p>
                    <div class="control-line">
                        <input type="password" name="password" placeholder="6-20位密码">
                        <span></span>
                    </div>

                </div>

                <div class="input-line clearfix">
                    <input type="checkbox" name="isSave" checked>
                    <p>记住密码</p>

                    <div class="c"><p>
                        <a href="{% url 'user:forgetpwd' %}">忘记密码</a>
                    </p>
                        <p><a href="#">快捷登录</a></p></div>

                </div>

                <div class="input-line">
                    <input type="button" value="登陆" id="btn-login" name="submit">
                    <a href="{% url 'user:regist' %}">注册</a>
                </div>
        </div>

    </div>

{% endblock %}

{% block js %}

{% endblock %}

