{% extends 'user/base.html' %}

{% block right %}
<div class="right right-login">

        <div id="userInfo">Blog Reset Password</div>
        <div id="msg">
                {% csrf_token %}

                <div class="input-line">
                    <p>新密码</p>
                    <div class="control-line">
                        <input type="password" name="password" placeholder="6-20位密码">
                        <span></span>
                    </div>

                </div>

                <div class="input-line">
                    <p>重复密码</p>
                    <div class="control-line">
                        <input type="password" name="repassword" placeholder="重复密码">
                        <span></span>
                    </div>

                </div>

                <div class="input-line">
                    <input id="btn-pwdreset" type="button" name="submit" value="改密">
                    <a href="{% url 'user:login' %}"></a>
                </div>

        </div>

    </div>
{% endblock %}