{% extends 'user/base.html' %}
{% load static %}

{% block title %}
    Monkey Blog Regist
{% endblock %}


{% block right %}

<div class="right right-regist">
        <div id="userInfo">Blog Regist</div>

        <div id="msg">
            <form action="{% url 'user:regist' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-line">
                    <p>用户名</p>
                    <div class="control-line">
                        <input type="text" name="username" placeholder="用户名">
                    </div>

                </div>

                <div class="input-line">
                    <p>密码</p>
                    <div class="control-line">
                        <input type="password" name="password" placeholder="6-20位密码">
                    </div>

                </div>

                <div class="input-line">
                    <p>重复密码</p>
                    <div class="control-line">
                        <input type="password" name="repassword" placeholder="重复输入密码">
                    </div>

                </div>

                <div class="input-line">
                    <p>邮箱</p>
                    <div class="control-line">
                        <input type="email" name="email" placeholder="someone@xx.com">
                    </div>

                </div>

                <div class="input-line">
                    <p>手机号</p>
                    <div class="control-line">
                        <input type="text" name="phone" placeholder="手机号">
                    </div>

                </div>

                <div class="input-line">
                    <p>昵称</p>
                    <div class="control-line">
                        <input type="text" name="nickname" placeholder="昵称">
                    </div>

                </div>
                


                <div class="input-line">

                    <p>头像</p>
                    <div id="avatar" class="clearfix">
                        <label for="id_avatar">
                            <input id="id_avatar" type="file" name="avatar">
                        <img  src="{% static 'img/default.jpeg' %}" alt="">
                        </label>
                    </div>
                </div>

                <div class="input-line input-line-regist">
                    <p></p>
                    <input id="regist-button" type="submit" value="注册">
{#                    <a  href="">登陆</a>#}
                </div>




            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/log_regist.js' %}"></script>
{% endblock %}